
<div class="flex items-center justify-center min-h-screen">
  <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
    <div class="flex justify-center">
      <%= image_tag('logo.png', class: 'w-28') %>
    </div>
    <div class="flex justify-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>