<div class="mx-auto md:w-2/3 w-full flex">
<div class="overflow-hidden rounded-lg shadow-lg">
  <div
    class="bg-neutral-50 py-3 px-5 dark:bg-neutral-700 dark:text-neutral-200">
    Line chart
  </div>
  <canvas class="p-10" id="chartLine"></canvas>
</div>

    <%= link_to 'Back to responses', survey_responses_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
